body{
    p{
        font-family: robotoregulars;
    }
}


#info{
    h2{
        font-size: 36px;
        text-align: center;
        padding: 1em;
        color: #2196F3;
    }

    p{
        font-size: 24px;
        text-align: center;
        padding: 1em;
    }

    strong{
        color: #2196F3;
    }

}

.trait{
    background-color: #2196F3;
    width: 250px;
    height: 15px;
    border: 3px solid #2196F3;
    
}

#teams{
   background-color: black;
   
   .trait2{
    background-color: #2196F3;
    width: 250px;
    height: 2px;
    border: 3px solid #2196F3;
    align-items: center;
}
   h2{
    color: #2196F3;
    font-size: 36px;
    text-align: center;
}
    
    .présentation{
        display: flex;
        align-items: center;
        justify-content: center;
    }

   .melvin{
      padding: 60px;

        p{
            font-size: 24px;
            color:white
        }

        h2{
            color: #2196F3;
            font-size: 36px;
            } 

        h3{
            color: white;
            font-size: 36px;
        }

   }
   
   .sofian{
       padding: 25px;
        p{
            font-size: 24px;
            color:white
        }

        h2{
        color: #2196F3;
        font-size: 36px;
    } 

        h3{
            color: white;
            font-size: 36px;
        }
   }

   .aurelie{
    padding-bottom: 120px;

      p{
          font-size: 24px;
          color:white
      }

      h2{
          color: #2196F3;
          font-size: 36px;
          } 

      h3{
          color: white;
          font-size: 36px;
      }

 }
  
   .fit{
    object-fit: cover;
    height: auto;
    width: 300px;
}
    
}

.trait3{
    background-color: #2196F3;
    width: 250px;
    height: 15px;
    border: 3px solid #2196F3;
    left: 500px;
}