body{
    h2{
        color: purple;
        text-align: center;
        font-size: 24px;
    }

    p{
        font-size: 18px;
    }
}


#notrehistoire{
    background-color: dimgray;
    color: white;
    padding: 36px;

    p{
        text-align: center;
        padding: 6px;
    }   

}

#notrebut{
    color: white;
    background-color: black;
    padding: 36px;

    p{
        text-align: center;
        padding: 6px;
    }    

}

#equipe{ 
    flex-wrap: wrap;
    padding: 4rem;
    align-items: center;
    background-color: dimgray;

    
    article{
        height: auto;
        width: 700px;
        border: black 1px solid;
        margin: 20px;
        background-color: white;
        color: black;
        padding: 40px;
        margin: 80px;
        box-shadow: 10px 5px 5px purple;
        margin-left: auto;
        margin-right: auto;
    }

    h3{
        color: purple;
        text-align: center;
        margin-top: -75px;
    }

    p{
        text-align: left;
    }

    .fit{
        object-fit: cover;
        height: 100px;
        width: 100px;
        text-align: center;
        position: relative;
        bottom: 96px;
        left: 286px;
    }
}

@media screen and (max-width: 1184px){ 
    #equipe{
        font-size: 22px;
    
        article{
            width: 400px;

        }
    }
}


@media screen and (max-width: 832px){ 
    #equipe{
        font-size: 22px;
    
        article{
            width: 400px;

        }
    }
}

@media screen and (max-width: 825px){ 
    #equipe{
        .fit{
            left: 150px;
        }
    
        article{
            width: 300px;

        }
    
    }
        
}

@media screen and (max-width: 731px){ 
    
    #equipe{
       
        article{
            width: 280px;
            font-size: 18px;

        }
    }

    #notrebut{
      p{
        font-size: 15px;
      }
    }

    #notrehistoire{
        p{
          font-size: 15px;
        }
      }
        
}





@media screen and (max-width: 558px){ 
    #equipe{
       
       article{
           width: 250px;
       }
        .fit{
            left: 70px;
        }
    }
}

@media screen and (max-width: 402px){ 
    #equipe{
       
       article{
           width: 150px;
       }
        .fit{
            left: 10px;
        }
    }
}