body{
    p{
        font-family: robotoregulars;
    }
}


#info{
    h2{
        font-size: 36px;
    }

    p{
        font-size: 24px;
    }
}

#teams{
   background-color: black;
   display: flex;
    align-items: center;
    justify-content: center;

    h2{
        color: blue;
        font-size: 36px;
   }
   
   .melvin{
      padding: 10px;

      p{
          font-size: 24px;
          color:white
      }

      h2{
        color: blue;
        font-size: 36px;
   } 

    h3{
        color: white;
        font-size: 36px;
    }

   }
   
   .fit{
    object-fit: cover;
    height: auto;
    width: 300px;
}
    
}