// Purple button
.buttonCAS{
    a{
        color: white;
        font-size: 18px;
        font-family: 'caviarBold';
        padding: 1em 4em;
        background-color: #AD00FF;
        border-radius: 25px;
        transition: all ease-in-out 0.3s;
        box-shadow: 2px 2px 10px 0px white;
    }
    a:hover{
        color: #AD00FF;
        background-color: white;
    }
}
