// THE FONTS
/* headline font */
@font-face {
    font-family: 'raleway';
    src: url(../fonts/Raleway-Regular.ttf);
}
/* bold */
@font-face {
    font-family: 'ralewayBold';
    src: url(../fonts/Raleway-Bold.ttf);
}

/* subtitle font */
@font-face {
    font-family: 'caviar';
    src: url(../fonts/CaviarDreams.ttf);
}
/* bold */
@font-face {
    font-family: 'caviarBold';
    src: url(../fonts/CaviarDreams_Bold.ttf);
}

/* paragraph text font */
@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}