// --- RESET --- //
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

// --- GENERAL --- //
body {
  font-family: "roboto";
}

// --- ARROW TOP OF PAGE --- //
.topPage {
  background-color: black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 40px;
  margin-left: 5%;
  a{
    color: white;
  }
}

// RELATIVE POSITION
.relative {
  position: relative;
  z-index: 1;
}
// --- FRAME DECORATION --- //
// purple :
.purpleFrame {
  background-color: $purple;
  position: absolute;
  z-index: -1;
}
// black :
.purpleBlack {
  background-color: black;
  position: absolute;
  z-index: -2;
}
