// --- RESET --- //
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

// --- GENERAL --- //
body{
    font-family: 'roboto';
}

// --- ARROW TOP OF PAGE --- //
.topPage{
    background-color: black;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

// --- RELATIVE POSITION --- //
.absolute{
    position: absolute;
    z-index: 1;
}
// --- FRAME DECORATION --- //
// purple :
.purpleFrame{
    border-top: 10px solid $purple;
    border-right: 10px solid $purple;
    position: relative;
    top: -15px;
    right: -50px;
    height: 150px;
    width: 150px;
}
