header{
    padding-bottom: 3em;
    background-image: url(../images/bakcHome.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    //NAV STYLE
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2196F3;
        padding: 1.5em;

        #menu{

            ul{
                display: flex;
                gap: 4em;

                li{

                    //MENU TEXT STYLE
                    a{
                        color: white;
                        font-size: 24px;
                        font-family: caviarDreamsBold;
                        padding: 0.3em 0;
                        position: relative;
                        transition: all ease-in-out 0.2s;
                    }

                    //ANIMATION HOVER
                    a:before, a:after{
                        height: 3px;
                        position: absolute;
                        content: '';
                        transition: all 0.35s ease;
                        background-color: black;
                        width: 0;
                    }

                    a:before{
                        top: 0;
                        left: 0;
                    }

                    a:after{
                        bottom: 0;
                        right: 0;
                    }

                    a:hover{
                        color: white;
                    }

                    a:hover:before, a:hover:after{
                        width: 100%;
                    }
                }
            }
        }

        //MENU BURGER STYLE WHEN MAX-WIDTH (DISPLAY NONE)
        #menuBurger{
            width: 2.5em;
            display: none;
            align-items: flex-start;
            flex-direction: column;
            gap: 9px;
            padding: 1em;
            cursor: pointer;
            transition: ease-in-out all 0.2s;

            //MENU BURGER BAR SIZES
            .bar{
                border-radius: 5px;
                height: 4px;
                width: 45px;
                background-color: white;
                transition: ease-in-out all 0.2s;
            }

            .middle{
                width: 30px;
            }
        }

        #menuBurger:hover{

            .bar{
                background-color: black;
                width: 40px;
            }

            .middle{
                width: 45px;
            }
        }

        //CLOSE ICON, POSITION FIXED ON TOP OF THE PAGE
        #close{
            position: fixed;
            top: 50px;
            right: 50%;
            display: none;
            z-index: 99999;
            color: white;
            font-size: 3em;
            transition: all ease-in-out 0.2s;
            animation: close 3s;
        }
    
        #close:hover{
            cursor: pointer;
            color: #2196F3;
        }

        //CLOSING ANIMATION
        @keyframes close{
            from{
                opacity: 0%;
            }

            50%{
                opacity: 0%;
            }

            to{
                opacity: 100%;
            }
        }
    }

    //TITLE STYLE PART
    #headerTitle{
        text-align: center;
        padding: 13em 0;

        //LOGO SIZE
        img{
            width: 30em;
            height: auto;
        }

        h1{
            font-family: caviarDreamsBold;
            font-size: 30px;
            padding-top: 1em;
            letter-spacing: 2px;
            color: white;
        }
    }
}