// HOMEPAGE

// General homepage
#homepage {
  h2 {
    text-align: left;
    color: $purple;
    font-family: "ralewayBold";
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 30px;
    span {
      color: $gray;
      font-family: "caviarDreamsBold";
      font-size: 24px;
      text-transform: initial;
    }
    strong {
      color: black;
      font-family: "caviarDreamsBold";
      font-size: 24px;
      text-transform: initial;
    }
  }

  h3 {
    color: $purple;
    font-family: "caviarDreamsBold";
    font-size: 20px;
    padding-bottom: 30px;
    text-shadow: 1px 1px black;
  }
}

// history and team part
#aboutCAS {
  padding: 4%;
  @include flex($align: baseline);
  color: $gray;
  background-color: black;
  height: 418px;
  .historyCAS {
    width: 50%;
    p {
      text-align: justify;
      width: 526px;
      line-height: 25px;
      margin-bottom: 15%;
    }
    .buttonCAS {
      margin-left: 25%;
      margin-top: 50px;
      a{
        border: 1px solid black;
      }
    }
  }

  .teamCAS {
    padding-left: 8%;
    .teamAVATAR {
      @include flex;
      .avatar {
        background-color: burlywood;
        height: 150px;
        width: 150px;
        margin-top: 4%;
        margin-right: 80px;
        border: 5px solid $purple;
        box-shadow: 3px 3px 8px -1px white;
      }
    }

    .eyeVisual {
      position: relative;
      top: 6em;
      z-index: 1;
      img {
        width: 610px;
        padding-top: 4%;
      }
    }
    .purpleFrame {
      top: -10px;
      right: 58px;
      border-radius: 2em;
      height: 244px;
      width: 492px;
      background-color: $purple;
      position: absolute;
      z-index: -1;
    }
  }
}

// know-how part
#expertiseCAS {
  padding: 4%;
  h2 {
    margin-bottom: 2%;
    margin-left: 28px;
  }
  .serviceCAS {
    @include flex($just: space-between);
    .graphicCreation,
    .internetSite,
    .socialNetworks,
    .consulting {
      text-align: center;
      background-color: $gray;
      height: 300px;
      width: 300px;
      border: 3px solid black;
      border-radius: 50%;
      position: relative;
      img {
        padding: 2% 0;
      }
      p {
        margin-top: -1em;
        padding: 0 3em;
      }
      .buttonCAS {
        a {
          position: absolute;
          top: 90%;
          left: 12%;
          border: 1px solid black;
          box-shadow: 2px 2px 10px 0px black;
        }
      }
    }
  }
}

// project gallery part
#gallery {
  padding: 4%;
  background-color: $gray;
  text-align: center;
  h2 {
    margin-left: 28px;
  }
  p {
    text-align: left;
    margin-left: 28px;
    margin-bottom: 5%;
  }
  .pictureGallery {
    @include flex;
    img {
      height: 300px;
      position: relative;
      margin-right: 5em;
      border: 1px solid black;
    }
    .purpleShadow {
      box-shadow: 12px -12px 0px -1px $purple;
    }
    .blackShadow {
      box-shadow: 12px -12px 0px -1px black;
    }
  }
  .buttonCAS {
    margin-top: 7%;
    a {
      border: 1px solid black;
      box-shadow: 2px 2px 10px 0px black;
    }
  }
}

// ---------- RESPONSIVE ---------- //

// ------ @MEDIA QUERY 1530px------ //
@media screen and (max-width: 1530px) {
  // images from the projects gallery
  #gallery .pictureGallery img {
    height: 250px;
    width: 250px;
  }
}

// ------ @MEDIA QUERY 1325px------ //
@media screen and (max-width: 1325px) {
  // eyeVisual img
  #aboutCAS .teamCAS {
    .eyeVisual {
      img {
        width: 400px;
      }
    }
    .purpleFrame {
      right: 146px;
      width: 400px;
      height: 200px;
    }
  }
  //  rounds of the services part
  #expertiseCAS {
    .serviceCAS {
      .graphicCreation,
      .internetSite,
      .socialNetworks,
      .consulting {
        height: 250px;
        width: 250px;
        .buttonCAS a {
          padding: 0.5em 3em;
          left: 7%;
        }
        img {
          height: 50px;
        }
        h3 {
          font-size: 17px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  // images from the projects gallery
  #gallery .pictureGallery img {
    margin-right: 3em;
  }
}

// ------ @MEDIA QUERY 1200px------ //
@media screen and (max-width: 1200px) {
  #aboutCAS{
    justify-content: initial;
  }
}
