.card {
    width: 305px;
    height: 460px;
    background-color: $purple;
    perspective: 1000px;
    margin: auto;
  }
  .card_interieure {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
  }
  .return {
    transform: rotateY(180deg);
  }
  .front,
  .modal {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  img {
    height: 460px;
    border: 2px solid $purple;
    margin-right: 5%;
  }
  .displayNone {
    display: none;
  }
  .modal {
    background-color: white;
    border: 2px solid $purple;
    height: 100%;
    width: 100%;
    padding: 5% 4% 5% 4%;
    h2{
        color: $purple;
        font-family: 'caviarDreams';
        padding: 5%;
    }
    h3{
        padding: 5%;
    }
    p{
        font-size: 14px;
        text-align: justify;
    }
  }
  .equipCAS {
    padding: 5%;
    @include flex(space-evenly);
  }
  .buttons {
    padding-top: 40%;
    text-align: center;
    border: none;
    .btnInfo {
      margin-bottom: 4%;
      color: $gray;
      font-style: italic;
      text-decoration: underline;
      border: none;
      font-size: 18px;
      cursor: pointer;
    }
  }
  .front {
    h2 {
      font-family: "caviarDreams";
      color: $purple;
      padding: 15%;
    }
  }
  .melvin {
    margin-top: 10%;
  }
  .fermeture{
      margin-top: 5%;
      padding: 0.8em 2em;
      background-color: $purple;
      border: 2px solid black;
      border-radius: 10px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 2px 2px 5px black;
  }