/* headline color */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "roboto";
}

@font-face {
  font-family: binjay;
  src: url(../fonts/Binjay.otf);
}
/* headline font */
@font-face {
  font-family: "raleway";
  src: url(../fonts/Raleway-Regular.ttf);
}
/* bold */
@font-face {
  font-family: "ralewayBold";
  src: url(../fonts/Raleway-Bold.ttf);
}
/* subtitle font */
@font-face {
  font-family: "caviarDreams";
  src: url(../fonts/CaviarDreams.ttf);
}
/* bold */
@font-face {
  font-family: "caviarDreamsBold";
  src: url(../fonts/CaviarDreams_Bold.ttf);
}
/* paragraph text font */
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
.buttonCAS a {
  color: white;
  font-size: 18px;
  font-family: "caviarBold";
  padding: 1em 4em;
  background-color: #AD00FF;
  border-radius: 25px;
  transition: all ease-in-out 0.3s;
  box-shadow: 2px 2px 10px 0px white;
}
.buttonCAS a:hover {
  color: #AD00FF;
  background-color: white;
}

header {
  padding: 3em;
  background-image: url(../images/bakcHome.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav img {
  width: 50%;
  height: auto;
}
header nav #menu ul {
  display: flex;
  gap: 4em;
}
header nav #menu ul li a {
  color: black;
  font-size: 24px;
  font-family: caviarDreamsBold;
  padding: 0 10px;
  padding-bottom: 10px;
  transition: all ease-in-out 0.2s;
}
header nav #menu ul li a:hover {
  color: white;
  border-bottom: 2px solid white;
}
header #headerTitle {
  text-align: center;
  padding: 7em 0;
}
header #headerTitle h1 {
  font-family: caviarDreamsBold;
  font-size: 60px;
}
header #headerTitle h1 .cas {
  font-family: binjay;
  font-size: 64px;
}
header #headerTitle h1 .and {
  font-family: caviarDreams;
  font-size: 50px;
  font-weight: 200;
}
header #headerTitle h2 {
  font-family: caviarDreamsBold;
  font-size: 30px;
  padding-top: 0.5em;
  letter-spacing: 2px;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: #000000;
  color: white;
}
footer #sectionFooter {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  margin-bottom: 40px;
}
footer #sectionFooter .infoCas img {
  height: 125px;
  margin-bottom: 20px;
}
footer #sectionFooter .infoCas .functionCAS {
  text-align: justify;
  width: 390px;
}
footer #sectionFooter .contactCas,
footer #sectionFooter .locationCAS {
  text-align: left;
  margin-left: 10px;
}
footer #sectionFooter .contactCas h2,
footer #sectionFooter .locationCAS h2 {
  font-family: "caviarDreams";
  font-size: 24px;
  text-transform: uppercase;
  color: #AD00FF;
  margin-bottom: 20px;
}
footer #sectionFooter .contactCas i,
footer #sectionFooter .locationCAS i {
  color: #AD00FF;
  font-size: 25px;
  padding-right: 5px;
}
footer #sectionFooter .contactCas p,
footer #sectionFooter .locationCAS p {
  padding-bottom: 10px;
}
footer #sectionFooter .contactCas .buttonCAS,
footer #sectionFooter .locationCAS .buttonCAS {
  margin-top: 45px;
}
footer #sectionFooter .contactCas .buttonCAS a,
footer #sectionFooter .locationCAS .buttonCAS a {
  padding: 1em 3em;
}
footer #sectionFooter .iconNetworks i {
  font-size: 40px;
  margin-bottom: 20px;
}
footer #sectionFooter .iconNetworks .fa-facebook {
  color: #3c579c;
}
footer #sectionFooter .iconNetworks .fa-instagram {
  color: #d1218e;
}
footer #sectionFooter .iconNetworks .fa-linkedin {
  color: #0079b4;
}
footer #sectionFooter .iconNetworks .fa-twitter {
  color: #00adff;
}
footer span a {
  color: #AD00FF;
}

/*# sourceMappingURL=style.css.map */
