/* headline color */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "roboto";
}

@font-face {
  font-family: binjay;
  src: url(../fonts/Binjay.otf);
}
/* headline font */
@font-face {
  font-family: "raleway";
  src: url(../fonts/Raleway-Regular.ttf);
}
/* bold */
@font-face {
  font-family: "ralewayBold";
  src: url(../fonts/Raleway-Bold.ttf);
}
/* subtitle font */
@font-face {
  font-family: "caviarDreams";
  src: url(../fonts/CaviarDreams.ttf);
}
/* bold */
@font-face {
  font-family: "caviarDreamsBold";
  src: url(../fonts/CaviarDreams_Bold.ttf);
}
/* paragraph text font */
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
.buttonCAS a {
  color: white;
  font-size: 18px;
  font-family: "caviarBold";
  padding: 1em 4em;
  background-color: #2196F3;
  border-radius: 25px;
  transition: all ease-in-out 0.3s;
  box-shadow: 2px 2px 10px 0px white;
}
.buttonCAS a:hover {
  color: #2196F3;
  background-color: white;
}

header {
  padding-bottom: 3em;
  background-image: url(../images/bakcHome.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196F3;
  padding: 1.5em 0;
  position: fixed;
  z-index: 99;
}
header nav #menu #navText {
  display: flex;
  gap: 4em;
  font-size: 24px;
}
header nav #menu #navText li a {
  color: white;
  font-family: caviarDreamsBold;
  padding: 0.3em 0;
  position: relative;
  transition: all ease-in-out 0.2s;
}
header nav #menu #navText li a:before, header nav #menu #navText li a:after {
  height: 3px;
  position: absolute;
  content: "";
  transition: all 0.35s ease;
  background-color: black;
  width: 0;
}
header nav #menu #navText li a:before {
  top: 0;
  left: 0;
}
header nav #menu #navText li a:after {
  bottom: 0;
  right: 0;
}
header nav #menu #navText li a:hover {
  color: white;
}
header nav #menu #navText li a:hover:before, header nav #menu #navText li a:hover:after {
  width: 100%;
}
header nav #menuBurger {
  width: 2.5em;
  display: none;
  align-items: flex-start;
  flex-direction: column;
  gap: 9px;
  padding: 1em;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}
header nav #menuBurger .bar {
  border-radius: 5px;
  height: 4px;
  width: 45px;
  background-color: white;
  transition: ease-in-out all 0.2s;
}
header nav #menuBurger .middle {
  width: 30px;
}
header nav #menuBurger:hover .bar {
  background-color: black;
  width: 40px;
}
header nav #menuBurger:hover .middle {
  width: 45px;
}
header nav #close {
  position: fixed;
  top: 50px;
  right: 50%;
  display: none;
  z-index: 99999;
  color: white;
  font-size: 3em;
  transition: all ease-in-out 0.2s;
  animation: close 3s;
}
header nav #close:hover {
  cursor: pointer;
  color: #2196F3;
}
@keyframes close {
  from {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
header #headerTitle {
  text-align: center;
  padding: 13em 0;
}
header #headerTitle img {
  width: 30em;
  height: auto;
}
header #headerTitle h1 {
  font-family: caviarDreamsBold;
  font-size: 30px;
  padding-top: 1em;
  letter-spacing: 2px;
  color: white;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: #000000;
  color: white;
}
footer #sectionFooter {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  margin-bottom: 40px;
}
footer #sectionFooter .infoCas img {
  height: 125px;
  margin-bottom: 20px;
}
footer #sectionFooter .infoCas .functionCAS {
  text-align: justify;
  width: 390px;
}
footer #sectionFooter .contactCas,
footer #sectionFooter .locationCAS {
  text-align: left;
  margin-left: 10px;
}
footer #sectionFooter .contactCas h2,
footer #sectionFooter .locationCAS h2 {
  font-family: "caviarDreams";
  font-size: 24px;
  text-transform: uppercase;
  color: #2196F3;
  margin-bottom: 20px;
}
footer #sectionFooter .contactCas i,
footer #sectionFooter .locationCAS i {
  color: #2196F3;
  font-size: 25px;
  padding-right: 5px;
}
footer #sectionFooter .contactCas p,
footer #sectionFooter .locationCAS p {
  padding-bottom: 10px;
}
footer #sectionFooter .contactCas .buttonCAS,
footer #sectionFooter .locationCAS .buttonCAS {
  margin-top: 45px;
}
footer #sectionFooter .contactCas .buttonCAS a,
footer #sectionFooter .locationCAS .buttonCAS a {
  padding: 1em 3em;
}
footer #sectionFooter .iconNetworks {
  display: flex;
  flex-direction: column;
}
footer #sectionFooter .iconNetworks i {
  font-size: 40px;
  margin-bottom: 20px;
}
footer #sectionFooter .iconNetworks .fa-facebook {
  color: #3c579c;
}
footer #sectionFooter .iconNetworks .fa-instagram {
  color: #d1218e;
}
footer #sectionFooter .iconNetworks .fa-linkedin {
  color: #0079b4;
}
footer #sectionFooter .iconNetworks .fa-twitter {
  color: #00adff;
}
footer span a {
  color: #2196F3;
}

@media screen and (max-width: 1295px) {
  header {
    padding: 0;
  }
  header #navBar {
    padding: 1em;
    gap: 10em;
    width: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  header #navBar #menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    z-index: 100;
    animation: menu 1s;
  }
  header #navBar #menu #navText {
    flex-direction: column;
    gap: 2em;
    width: 100%;
  }
  header #navBar #menu #navText li {
    transition: all ease-in-out 0.2s;
    padding: 1.5em 0;
    cursor: pointer;
  }
  header #navBar #menu #navText li a {
    margin-left: 5em;
    transition: all ease-in-out 0.2s;
    color: white;
  }
  header #navBar #menu #navText li a:before, header #navBar #menu #navText li a:after {
    height: 0;
  }
  header #navBar #menu #navText li:hover {
    background-color: #2196F3;
  }
  header #navBar #menu #navText li:hover a {
    color: black;
  }
  @keyframes menu {
    from {
      left: -200%;
    }
    to {
      right: 100%;
    }
  }
  header #navBar #menuBurger {
    display: flex;
  }
}
@media screen and (max-width: 595px) {
  header nav {
    flex-direction: column;
    gap: 1em;
    padding: 1.5em;
  }
  header nav #menu ul li a {
    margin-left: 1.5em;
  }
  header #headerTitle {
    padding-top: 4em;
  }
  header #headerTitle h1 {
    font-size: 40px;
  }
  header #headerTitle img {
    width: 25em;
  }
}
@media screen and (max-width: 440px) {
  header #headerTitle img {
    width: 15em;
  }
}

/*# sourceMappingURL=style.css.map */
